#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: "Got Milk";
  src: url("/assets/fonts/Gotmilk-Font.ttf?v=1.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Got Milk", sans-serif;
}

/* Light Mode Styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Light Mode */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Mode */
.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

.container {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
p,
blockquote {
  letter-spacing: 0.05em; /* Increase spacing between characters */
}

h1 {
  font-size: 4rem; /* Larger size for $MOTION text */
}

blockquote {
  font-size: 5rem; /* Increase size for Got Motion? quote */
  margin-bottom: 2rem; /* Increase spacing below the quote */
}
